*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    width: 393px;
    height: auto;
}

header {
    background-color: #247a94 ;
    color: black;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 20%;
}

header .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
    height: 50%;
    overflow: hidden;
}

.container p {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

header img {
    border-radius: 15%;
    width: 10rem;
    height: 10rem;
}

header h1 {
    margin: 10px 0;
}

main {
    padding: 1rem;
    width: 100%;
    height: 60rem;
}

.projects {
    max-width:  600px;
    margin: 0 auto; 
}

.projects h2 {
    text-align: center;
    margin-bottom: 20px;
}

.project {
    background-color: #247a94;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project img {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.project-info {
    text-align: center;
}

.project h3 {
    margin-bottom: 10px;
}

footer {
    background-color: #247a94 ;
    color: black;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 5rem;
    bottom: 0;
} 

.social-links {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 1rem;
    height: 50%;
}

@media screen and (min-width: 393px) and (max-width: 852px) {
    header {
        width: 100vw;
    }

    main {
        width: 100vw;
    }

    .projects {
padding: 0 10px;
    }

    .project {
        flex-direction: row;
        align-items: center;
    }

    .project img {
  max-width: 7rem;
  padding: 0.5rem;

    }


.project-info {
    text-align: left;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 5rem;
}

}